/* Roboto font family */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/roboto-v50-latin-600.woff2") format("woff2");
}

/* Play font family */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2");
}

:root {
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

address {
  font-style: normal;
}

label {
  cursor: pointer;
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--color-primary-dark);
  background-image: url("./../images/advantages-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 1370px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.main-button {
  padding: 14px 32px;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  color: #ffffff;
  border-radius: 32px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.main-button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  transition:
    background-color 0.3s,
    border-color 0.3s,
    fill 0.3s;
}

.carousel-button:hover {
  background-color: var(--color-primary-light);
  border-color: #fff;
  fill: #fff;
}

.carousel-button__next {
  transform: rotate(180deg);
}

.section-title {
  font-size: 64px;
  font-weight: 700;
  font-family: "Play", sans-serif;
  line-height: 1.15;
}

.text-brand {
  color: var(--color-primary-light);
}

.text-bold {
  font-weight: 600;
}

.big-star {
  position: absolute;
  top: 360px;
  right: 350px;
  fill: var(--color-primary-dark);
}

.middle-star {
  position: absolute;
  top: 30px;
  right: -27px;
  fill: var(--color-primary-light);
  transform: rotate(45deg);
}

.little-star {
  position: absolute;
  top: 270px;
  right: 6px;
  fill: var(--color-secondary-light);
}

/* Form */

.form-text {
  max-width: 280px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}

.form-input {
  width: 100%;
  padding: 16px 32px;
  border: 1px solid var(--color-secondary-light);
  border-radius: 32px;
  font-size: 13px;
  color: #fff;
  background-color: transparent;
  line-height: 1.15;
}

.form-input::placeholder {
  color: #fff;
  line-height: 1.15;
  font-size: 13px;
}

.form-input:focus {
  background-color: var(--color-secondary-light);
}

.form-button {
  margin: 0 auto 8px;
}

.form-button:hover {
  color: #fff;
}

.form-terms {
  max-width: 205px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-secondary-light);
}

.form-terms__link {
  color: var(--color-secondary-light);
  text-decoration: underline;
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pagination__button {
  width: 12px;
  height: 12px;
  background-color: var(--color-secondary-light);
  border-radius: 50%;
}

.pagination__button--active {
  background-color: var(--color-primary-light);
}
/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header__logo {
  width: 74px;
  height: 42px;
}

.header__menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 56px;
}

.header__nav-link {
  color: var(--color-primary-dark);
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: var(--color-primary-light);
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__socials-icon {
  fill: var(--color-primary-dark);
}

/* Hero section */

.hero-section {
  background-image:
    linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url("./../images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  padding: 125px 0 125px 105px;
}

.hero-section__title {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary-dark);
  margin-bottom: 40px;
}

.hero-section__title-accent {
  display: block;
  max-width: 530px;
  font-size: 140px;
  font-family: "Play", sans-serif;
  color: var(--color-primary-light);
  line-height: 0.8;
  font-weight: 700;
  margin-top: 16px;
}

.hero-section__text {
  margin-top: 14px;
  max-width: 238px;
  font-size: 12px;
  color: var(--color-secondary-dark);
  line-height: 1.5;
  text-align: center;
}

/* About section */

.about-section {
  padding-top: 96px;
}
.about-section__container {
  display: flex;
  gap: 32px;
}

.about-section__content {
  padding: 40px 0 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 0;
}

.about-section__title {
  max-width: 530px;
}

.about-section__text {
  max-width: 650px;
  font-size: 22px;
  line-height: 1.73;
}

.about-section__images {
  position: relative;
  width: 100%;
}

.about-section__face-before {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.about-section__face-after {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

/* Advantages section */

.advantages-section {
  padding: 176px 0 96px;
}

.advantages-section__title {
  max-width: 450px;
  margin: 0 auto 48px;
  text-align: center;
}

.advantages-section__list {
  display: flex;
  gap: 56px;
  align-items: center;
  justify-content: center;
}

.advantages-section__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 24px 32px;
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background-color: #fff;
}

.advantages-section__text {
  max-width: 252px;
  text-align: center;
  line-height: 1.33;
}

.advantages-section__icon {
  fill: var(--color-primary-light);
}

/* Procedures section */

.procedures-section {
  padding-bottom: 48px;
}

.procedures-section__title {
  text-align: center;
  margin-bottom: 48px;
}

.procedures-section__slider {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-section__container {
  overflow: hidden;
}
.procedures-section__list {
  margin-bottom: 32px;
}

.procedure-card {
  position: relative;
  border-radius: 4px 120px;
  overflow: hidden;
}

.procedure-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  pointer-events: none;
}

.procedure-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.procedure-card__title {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 22px;
  line-height: 1.18;
  color: #fff;
  z-index: 1;
}

/* Contact section */

.contact-section {
  padding: 48px 0 96px;
}

.contact-section__title {
  text-align: center;
  margin-bottom: 48px;
}

.contact-section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.contact-section__form {
  display: flex;
  flex-direction: column;
  padding: 48px 56px;
  align-items: center;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  background-image: url("./../images/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-section__form-field {
  margin-bottom: 16px;
}

/* Footer */

.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-primary-dark);
  background-image: url("./../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  content: "";
  width: 245px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("./../images/cosmetics-products.png");
  background-repeat: no-repeat;
}

.footer__container {
  display: flex;
  gap: 20px;
}

.footer__nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer__address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer__logo {
  flex-grow: 1;
}

.footer__logo-image {
  width: 82px;
}

.footer__menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__nav-link {
  font-size: 16px;
  color: #fff;
}

.footer__contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__address-link {
  font-size: 16px;
  color: #fff;
  line-height: 1.19;
  transition: color 0.3s;
}

.footer__address-link:hover {
  color: var(--color-primary-light);
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__socials-icon {
  fill: #fff;
}

.footer__address-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__address-copyright {
  font-size: 13px;
  line-height: 1.15;
  color: var(--color-secondary-light);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.modal {
  position: relative;
  padding: 42px 144px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  background-image: url(./../images/form-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal__btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  stroke: #fff;
  background-color: transparent;
}

.modal__title {
  max-width: 435px;
  font-family: "Play", sans-serif;
  font-size: 64px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.modal__text {
  margin: 0 auto 32px;
}

.modal__form {
  padding: 0 62px;
}

.modal__form-field {
  margin-bottom: 24px;
}
