@use "../utils";

.about-section {
  padding: 28px 0 52px;

  @media (min-width: utils.$bp-tablet) {
    padding: 96px 0 88px;
  }
  &__container {
    display: flex;
    gap: 32px;

    @media (min-width: utils.$bp-tablet) {
      justify-content: center;
    }

    @media (min-width: utils.$bp-desktop) {
      justify-content: flex-start;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: utils.$bp-tablet) {
      flex-shrink: 0;
      gap: 40px;
    }

    @media (min-width: utils.$bp-desktop) {
      padding: 40px 0 200px;
    }
  }

  &__title {
    max-width: 260px;
    margin-bottom: 8px;

    @media (min-width: utils.$bp-tablet) {
      max-width: 530px;
    }
  }

  &__text {
    max-width: 650px;
    font-size: 18px;
    line-height: 1.73;

    @media (min-width: utils.$bp-tablet) {
      font-size: 22px;
    }
  }

  &__images {
    display: none;

    @media (min-width: utils.$bp-desktop) {
      display: block;
      position: relative;
      width: 100%;
    }
  }

  &__face-before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
  }

  &__face-after {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  }
}
