@use "../utils";

.advantages-section {
  position: relative;
  padding: 52px 0 20px;

  &::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: calc(100% + 40px);
    z-index: -1;
    background-image: url("./../images/advantages-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @media (min-width: utils.$bp-tablet) {
      top: -60px;
      height: calc(100% + 60px);
    }

    @media (min-width: utils.$bp-desktop) {
      top: -120px;
      height: calc(100% + 120px);
    }
  }

  @media (min-width: utils.$bp-tablet) {
    padding: 88px 0 48px;
  }

  &__title {
    max-width: 450px;
    margin: 0 auto 48px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    @media (min-width: utils.$bp-tablet) {
      flex-direction: row;
      gap: 56px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 24px 32px;
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background-color: #fff;
  }

  &__text {
    max-width: 252px;
    text-align: center;
    line-height: 1.33;
  }

  &__icon {
    fill: var(--color-primary-light);
  }
}
