.hero-section {
  background-image:
    linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url("./../images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  padding: 125px 0 125px 105px;

  &__title {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary-dark);
    margin-bottom: 40px;

    &-accent {
      display: block;
      max-width: 530px;
      font-size: 140px;
      font-family: "Play", sans-serif;
      color: var(--color-primary-light);
      line-height: 0.8;
      font-weight: 700;
      margin-top: 16px;
    }
  }

  &__text {
    margin-top: 14px;
    max-width: 238px;
    font-size: 12px;
    color: var(--color-secondary-dark);
    line-height: 1.5;
    text-align: center;
  }
}

