.procedures-section {
  padding-bottom: 48px;

  &__title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }
}

