@use "../utils";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media (min-width: utils.$bp-tablet) {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 32px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__nav-link {
    color: var(--color-primary-dark);
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__logo {
    width: 57px;
    height: 30px;

    @media (min-width: utils.$bp-tablet) {
      width: 74px;
      height: 42px;
    }
  }

  &__menu {
    display: none;

    @media (min-width: utils.$bp-tablet) {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      gap: 18px;
    }
    @media (min-width: utils.$bp-desktop) {
      gap: 56px;
    }
  }

  &__socials {
    display: none;

    @media (min-width: utils.$bp-tablet) {
      display: flex;
      align-items: center;
      gap: 32px;
    }

    &-icon {
      fill: var(--color-primary-dark);
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: #fff;

    @media (min-width: utils.$bp-tablet) {
      display: none;
    }
  }
}
