.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__logo {
    width: 74px;
    height: 42px;
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 56px;
  }

  &__nav-link {
    color: var(--color-primary-dark);
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 32px;

    &-icon {
      fill: var(--color-primary-dark);
    }
  }
}

