.main-button {
  padding: 14px 32px;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  color: #ffffff;
  border-radius: 32px;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
  }
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  transition:
    background-color 0.3s,
    border-color 0.3s,
    fill 0.3s;

  &:hover {
    background-color: var(--color-primary-light);
    border-color: #fff;
    fill: #fff;
  }

  &__next {
    transform: rotate(180deg);
  }
}
