.procedure-card {
  position: relative;
  border-radius: 4px 120px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    );
    pointer-events: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    line-height: 1.18;
    color: #fff;
    z-index: 1;
  }
}
