@use "../utils";

.procedure-card {
  position: relative;
  border-radius: 4px 110px;
  overflow: hidden;
  width: 100%;
  max-width: 344px;
  height: 416px;
  margin: 0 auto;

  @media (min-width: utils.$bp-desktop) {
    border-radius: 4px 120px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    );
    pointer-events: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.18;
    color: #fff;
    z-index: 1;

    @media (min-width: utils.$bp-tablet) {
      font-size: 22px;
      bottom: 32px;
    }
  }
}
