.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-left: 20px;
  background-color: #fff;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    stroke: var(--color-primary-dark);
    stroke-width: 2px;
    background-color: transparent;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__link {
    font-size: 14px;
    color: var(--color-primary-dark);

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}
