.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  padding: 42px 144px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  background-image: url(./../images/form-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__btn-close {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    stroke: #fff;
    background-color: transparent;
  }

  &__title {
    max-width: 435px;
    font-family: "Play", sans-serif;
    font-size: 64px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }

  &__form {
    padding: 0 62px;
  }

  &__form-field {
    margin-bottom: 24px;
  }
}
