@use '../utils';

.big-star {
  position: absolute;
  top: 360px;
  right: 350px;
  fill: var(--color-primary-dark);
}

.middle-star {
  position: absolute;
  top: 30px;
  right: -27px;
  fill: var(--color-primary-light);
  transform: rotate(45deg);
}

.little-star {
  position: absolute;
  top: 270px;
  right: 6px;
  fill: var(--color-secondary-light);
}

.mobile-star {
  display: block;
  position: absolute;
  right: 2px;
  bottom: -40px;
  fill: var(--color-primary-dark);

  @media (min-width: utils.$bp-tablet) {
    display: none;
  }
}