.big-star {
  position: absolute;
  top: 360px;
  right: 350px;
  fill: var(--color-primary-dark);
}

.middle-star {
  position: absolute;
  top: 30px;
  right: -27px;
  fill: var(--color-primary-light);
  transform: rotate(45deg);
}

.little-star {
  position: absolute;
  top: 270px;
  right: 6px;
  fill: var(--color-secondary-light);
}
