*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

address {
  font-style: normal;
}

label {
  cursor: pointer;
}